<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyymusic.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.SingerDetailActivity"></activity>
        <activity android:name=".ui.activity.FoundSearchActivity" />
        <activity android:name=".ui.activity.InputNicknameActivity" />
        <activity android:name=".ui.activity.InputPassActivity" />
        <activity android:name=".ui.activity.LoginWithPassActivity" />
        <activity android:name=".ui.activity.ValidateActivity" />
        <activity android:name=".ui.activity.LoginOrRegisterActivity" />
        <activity android:name=".ui.activity.LoginActivity"></activity>
        <activity android:name=".ui.activity.MusicActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="false"
            />
    </application>

</manifest>